/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */
#gis html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:105%;font-family:inherit;vertical-align:baseline;}
#gis body {line-height:1.5;}
#gis table {border-collapse:separate;border-spacing:0;}
#gis caption, th, td {text-align:left;font-weight:normal;}
#gis table, td, th {vertical-align:middle;}
#gis blockquote:before, blockquote:after, q:before, q:after {content:"";}
#gis blockquote, q {quotes:"" "";}
#gis a img {border:none;}

#gis ul, li {
            padding-left: 0px;
            margin-left: 0px;
            list-style: none;
        }
#info {
	position: absolute;
        top: 6em;
        left: 550px;
}

#info table td {
        border:1px solid black;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        font-size: 80%;
        padding: .2em .1em;
        background:#fff;
}
#info table th{
	padding:.2em .2em;
	border: 1px solid black;
        font-weight: normal;
        background: #eee;
}
#gis tr.odd td {
        background:#eee;
}
#gis table.featureInfo caption {
        text-align:left;
        font-size:80%;
        font-weight:bold;
        padding:.2em .2em;
}

/**
 * Basic Typography
 */
#gis body {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: #222;
    background: #fff;
    margin: 1em 1.5em;
}
#gis pre, code {
    margin: 1.5em 0;
    white-space: pre;
}
#gis pre, code {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height:1.5;
}
#gis a[href] {
    color: #436976;
    background-color: transparent;
}
#gis h1, h2, h3, h4, h5, h6 {
    color: #003a6b;
    background-color: transparent;
    font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 0.5em;
}
#gis h1 {
    font-size: 130%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #fcb100;
}
#gis h2 {
    font-size: 120%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #aaa;
}
#gis h3 {
    font-size: 110%;
    margin-bottom: 0.5em;
    text-decoration: underline;
}
#gis h4 {
    font-size: 100%;
    font-weight: bold;
}
#gis h5 {
    font-size: 100%;
    font-weight: bold;
}
#gis h6 {
    font-size: 80%;
    font-weight: bold;
}

.olControlAttribution {
    bottom: 5px;
}

/**
 * Map Examples Specific
 */
#gis .smallmap {
    width: 512px;
    height: 400px;
    border: 1px solid #ccc;
}
#tags {
    display: none;
}

#docs p {
    margin-bottom: 0.5em;
}
/* mobile specific */
@media only screen and (max-width: 600px) {
    body {
        height           : 100%;
        margin           : 0;
        padding          : 0;
        width            : 100%;
    }
    #map {
        background : #7391ad;
        width      : 100%;
    }
    #map {
        border : 0;
        height : 250px;
    }
    #title {
        font-size   : 1.3em;
        line-height : 2em;
        text-indent : 1em;
        margin      : 0;
        padding     : 0;
    }
    #docs {
        bottom     : 0;
        padding    : 1em;
    }
    #shortdesc {
        color      : #aaa;
        font-size  : 0.8em;
        padding    : 1em;
        text-align : right;
    }
    #tags {
        display : none;
    }
}
@media only screen and (orientation: landscape) and (max-width: 600px) {
    #shortdesc {
       float: right;
       width: 25%;
    }
    #map {
        width: 70%;
    }
    #docs {
        font-size: 12px;
    }
}
body {
    -webkit-text-size-adjust: none;
}

