{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}SAF Vellangallur{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Please login to access content{% endif %}!</h1>
</div>
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
{% if current_user.is_authenticated %}
{% include '_posts.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endif %}
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type=text/javascript src="http://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
<script type=text/javascript src="http://cdn.ckeditor.com/4.5.7/standard/adapters/jquery.js"></script>

$(document).ready(function(){
	$("textarea[name='editor']").ckeditor(function(){},{height:700});
});

<textarea name='editor'></textarea>
<input type='hidden' name='detail' id='detail' value=''>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
