{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}SAF Vellangallur{% endblock %}

{% block page_content %}
<script src={{ url_for('static', filename='ckeditor/ckeditor.js') }}></script>

<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Please login to access content{% endif %}!</h1>
</div>
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    <form method="post" class="form" role="form">
        {{ form.hidden_tag() }}
<!--
	{{ form.body }}
	{{ form.category }}
	{{ form.submit }}
-->
	<div class="form-group">
	<label class="control-label" for="body">Post your update</label>
	<textarea class="form-control" id="body" name="body"></textarea>
	</div>
	<div class="form-group"><label class="control-label" for="category">Category</label>
	<select class="form-control" id="category_id" name="category">
	    {% for cat in form.category.choices %}
	        <option value="{{ cat[0] }}">{{ cat[1] }}</option>
	    {% endfor %}
	</select> 
	</div>
	<script>
	    CKEDITOR.replace('body');
	</script>
	<input class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">
<!--
        <div class="form-group"><label class="control-label" for="body">Post
        your update</label>
	<textarea class="form-control" id="body" name="body"></textarea>
        <script>
            CKEDITOR.replace('body');
        </script>
        </div>
        <div class="form-group"><label class="control-label"
        for="category">Category</label>
          <input class="form-control" id="category" name="category"
          type="text" value="">
        </div>
        
        <input class="btn btn-default" id="submit" name="submit"
        value="Submit">
-->
    </form>
    {% endif %}
</div>
{% if current_user.is_authenticated %}
{% include '_posts.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
